name: Metrics

permissions:
  contents: write

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: Eakempreet
          template: classic
          base: repositories

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          plugin_activity: yes
          plugin_activity_limit: 3
          plugin_activity_days: 14
          plugin_activity_filter: issue, pr

          config_timezone: Asia/Kolkata
