name: Metrics

permissions:
  contents: write

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: Eakempreet
          template: classic
          base: repositories, metadata

          plugin_releases: yes
          plugin_releases_limit: 5

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          config_timezone: Asia/Kolkata
